{% extends 'base.html' %}

{% block content %}
<h1>Autoservice</h1>

{% if num_visits == 1 %}
<p>Welcome to our website for the first time!</p>
{% else %}
<p>Welcome back! You have been at this website {{ num_visits }} times so far!</p>
{% endif %}

<p>We can currently offer:</p>
<ul>
	<li><strong>Cars:</strong> {% for model in car_models %} {{model.brand}} {% endfor %}</li>
	<li><strong>We can currently repair:</strong> {{ car_model_count }} different cars!</li>
	<li><strong>Services:</strong> {% for service in services %} {{service.service_name}}, {% endfor %}</li>
	<li><strong>Current service count:</strong> {{ services_count }}</li>
</ul>
{% endblock %}